@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.barra-header{
  background: white;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}
.barra-nav {
  box-shadow:  0px 04px 6px  rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  font-size: 12px;
  width: 100%;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.nav ul li {
  display: inline;
}

.nav a {
  padding: 5px;
  color: #57626B;
  text-decoration: none;
}

.nav a.nav {
  flex: 1;
  margin-left: 20px;
}


.iconos-menu{
display: flex; 
  margin-left: auto;
  cursor: pointer;
  color: #1a73e8;
}

.icono{
margin-right: 20px;
font-size: 20px;
}

.google-logo {
  margin-left: 10px;
  width: 30px;
}

#a_select {
  color: #1a73e8;
}

#ham {
width: 35px;
height: 35px;
 display: none;
}

@media only screen and (max-width:500px ) {
.nav {
  display: none;
}
#ham {
  display: block;
  }
}